*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f5f7fa;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    background:#ffffff;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.logo img{
    height:70px;
}

.search-box{
    width:45%;
    display:flex;
}

.search-box input{
    width:100%;
    padding:12px;
    border:2px solid #ff8800;
    border-radius:30px 0 0 30px;
    outline:none;
}

.search-box button{
    width:60px;
    border:none;
    background:#ff8800;
    color:#fff;
    border-radius:0 30px 30px 0;
    cursor:pointer;
}

.icons i{
    font-size:24px;
    margin-left:20px;
    color:#444;
    cursor:pointer;
}

.navbar{
    background:#ff8800;
    display:flex;
    justify-content:center;
    gap:35px;
    padding:15px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 8%;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:50px;
    color:#222;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    color:#666;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    padding:14px 35px;
    background:#ff8800;
    color:#fff;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

.hero-image img{
    width:420px;
}

.features{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:50px 8%;
}

.features div{
    background:#fff;
    text-align:center;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.features i{
    font-size:40px;
    color:#ff8800;
    margin-bottom:15px;
}
